In [18]:
import pandas as pd
from sklearn import linear_model

# we import out dataset: housepricedataset.csv
df = pd.read_csv("/home/steve/Projects/ml_py/house_prices/housepricesdataset.csv", sep=";")

In [19]:
# Lets see and check our data set:
df

   area  roomcount  buildingage   price
0   180          5           10  510000
1   225          4           18  508000
2   260          3            2  548000
3   320          6           10  650000
4   335          4            9  628000
5   345          5           14  632000
6   355          3            0  680000
7   400          4           10  725000

In [20]:
df[['area', 'roomcount', 'buildingage']]

   area  roomcount  buildingage
0   180          5           10
1   225          4           18
2   260          3            2
3   320          6           10
4   335          4            9
5   345          5           14
6   355          3            0
7   400          4           10

In [21]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [22]:
# we define a linear regression model here:

reg = linear_model.LinearRegression()
reg.fit(df[['area', 'roomcount', 'buildingage']], df['price'])

LinearRegression()